<!DOCTYPE HTML>
<html ng-app="feed"  data-ng-controller="dynamicMenuController">
<head>
    <title>{{content.title}}</title>
    <script type="text/javascript" src="vendor/jquery.min.js"></script>
    <script type="text/javascript" src="vendor/angular.min.js"></script>
    <script type="text/javascript" src="vendor/bootstrap.js"></script>
	<script type="text/javascript" src="js/app.js"></script>
	<link rel="stylesheet" type="text/css" href="css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="css/style.css">
    <style>

	</style>
</head>
<body>

<div dynamic-menu content="content"></div>
<ul class="nav navbar-nav">
    <li class="title active"><a href="#">Home</a></li>
	<li ng-repeat="(key, value) in (content.rows| groupBy: 'category')">


	<a class="test" tabindex="-1" href="#">{{key}}</a>
	<ul class="dropdown-menu">
		<li>
		<table>
		<tr ng-repeat="subitem in value">
		<td><a ng-href="{{subitem.url}}" class="sub-title">{{subitem.title}}</a>
				<div class="desc">{{subitem.description}}</div>
				<div class="image"><img ng-src="{{subitem.imageHref}}"></img></div>
		</td>
		</tr>
		</table>
			</li>
		</ul>
		</li>
</ul>
</body>
</html>